<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" 
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.sk.dao.User_info_dao">
	<select id="findByName" parameterType="string" resultType="entity.User_info">
		select * from user_info where username=#{name}
	</select>
	<insert id="save" parameterType="entity.User_info">
		insert into user_info(username,password,euq) values(#{username},#{password},#{euq})
	</insert>
</mapper>